<h1>Key Links</h1>

<div>
<a href="index">Home</a>
</div>

<div>
<a href="RelatedEfforts">Related Efforts</a>
</div>

<div>
<a href="PriorArt">Prior Art</a>
</div>

<h2> Architecture </h2>

<div>
<a href="ThaliAndCouch">Thali and Couch</a>
</div>


<div>
<a href="HttpkeyURLScheme">Httpkey URL Scheme</a>
</div>

<div>
<a href="ThaligroupURLScheme">Thaligroup URL Scheme</a>
</div>

<div>
<a href="TDHReplicationManager">TDH Replication Manager</a>
</div>

<h2> Developer Handbook </h2>

<div>
<a href="DeveloperHandbook">Overview</a>
</div>

<div>
<a href="AndroidEmulator">Android Emulator</a>
</div>

<div>
<a href="SetupForWindows">Setup for windows</a>
</div>

<div>
<a href="UnderstandingThalisUseOfMaven">Understanding Thali's Use of Maven</a>
</div>

<div>
<a href="ThaliGuideToGit">Thali Guide to Git</a>
</div>

<div>
<a href="GuideToDebugging">Guide to Debugging</a>
</div>

<h2>Technology Investigations</h2>

<p>
A <a href="TechnologyInvestigations">series</a> on technologies that are used, or might have been used, to create Thali.
</p>
